
.card {
	border-radius: 5px;
	background-color: #fff;
	padding-left: 60px;
	padding-right: 60px;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.rating-box {
	width: 130px;
	height: 130px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FBC02D;
	color: #fff;
}

.rating-label {
	font-weight: bold;
}

/* Rating bar width */
.rating-bar {
	width: 300px;
	padding: 8px;
	border-radius: 5px;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 5px;
}

/* Individual bars */
.bar-5 {
	width: 70%;
	height: 13px;
	background-color: #FBC02D;
	border-radius: 20px;

}
.bar-4 {
	width: 30%;
	height: 13px;
	background-color: #FBC02D;
	border-radius: 20px;

}
.bar-3 {
	width: 20%;
	height: 13px;
	background-color: #FBC02D;
	border-radius: 20px;

}
.bar-2 {
	width: 10%;
	height: 13px;
	background-color: #FBC02D;
	border-radius: 20px;

}
.bar-1 {
	width: 0%;
	height: 13px;
	background-color: #FBC02D;
	border-radius: 20px;

}

td {
	padding-bottom: 10px;
}

.star-active {
	color: #FBC02D;
	margin-top: 10px;
	margin-bottom: 10px;
}

.star-active:hover {
	color: #F9A825;
	cursor: pointer;
}

.star-inactive {
	color: #CFD8DC;
	margin-top: 10px;
	margin-bottom: 10px;
}

.blue-text {
	color: #0091EA;
}

.content {
	font-size: 18px;
}

.profile-pic {
	width: 90px;
	height: 90px;
	border-radius: 100%;
	margin-right: 30px;
}

.pic {
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.vote {
	cursor: pointer;
}

.content {
    text-align: center;
  }
  .content h1 {
    font-family: 'Sansita', sans-serif;
    letter-spacing: 1px;
    font-size: 50px;
    color: #282828;
    margin-bottom: 10px;
  }
  .content  i {
    color: #FFC107;
  }
  .content span {
    position: relative;
    display: inline-block;
  }
  .content  span:before, .content  span:after {
    position: absolute;
    content: "";
    background-color: #282828;
    width: 40px;
    height: 2px;
    top: 40%;
  }
  .content  span:before {
    left: -45px;
  }
  .content  span:after {
    right: -45px;
  }
  .content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .wrapper {
      text-shadow: 2px 2px 20px #000000;

    display: block;
    border: none;
    font-size: 20px;
    transform: translateX(-50%);

  }

  .wrapper input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    opacity: 0;
  }

  .wrapper label {
    position: relative;
    float: right;
    color: #C8C8C8;
  }

  .wrapper label:before {
    margin: 5px;
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    font-size: 1.5em;
    color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .wrapper input:checked ~ label:before {
    color: #FFC107;
  }

  .wrapper label:hover ~ label:before {
    color: #ffdb70;
  }

  .wrapper label:hover:before {
    color: #FFC107;
  }
